@page "{templateId}/{submissionId}"
@model SubmissionDetailModel
@using SimpleFormsService.Web.Admin.Resources
@{
    ViewData["Title"] = @StringResource.Section_SubmissionDetail;
}

@section featured
{
    <section class="row ns-fieldset stickyFooter" id="viewDetails">
        <div class="col-lg-12">
            <form method="post" asp-antiforgery="true">
                <h2 class="m-b-md">@StringResource.Section_Submission</h2>
                <div class="row m-t-md">
                    <div class="col-lg-4 form-group">
                        <label asp-for="FormInfo.TemplateID"></label>
                        @Model.FormInfo.SubmissionData.TemplateId          
                    </div>
                    <div class="col-lg-4 form-group">
                        <label asp-for="FormInfo.SubmissionID"></label>
                        @Model.FormInfo.SubmissionData.SubmissionId             
                    </div>
                    <div class="col-lg-4 form-group">
                        <label asp-for="FormInfo.SubmissionDate"></label>
                        @Model.FormInfo.SubmissionData.DateSubmitted             
                    </div>
                    
                </div>
                <hr />
                <h2 class="m-b-md">@StringResource.Section_SubmissionDetail</h2>
                <div class="row m-t-md">
                @if (Model.FormInfo.SubmissionData.FormItems != null)
                {
                    @foreach (var item in Model.FormInfo.SubmissionData.FormItems)
                    {   
                        <div class="col-lg-4 form-group mt-3">
                            <label>@item.Name</label>
                            @item.Value             
                        </div>            
                    }
                }
                </div>              
                <hr />
                <h2 class="m-b-md">@StringResource.Section_Upload</h2>
                <div class="row m-t-md">
                    <div class="col-lg-4 form-group">
                        <table class="table table-responsive-sm table-borderless">
                            @if (Model.FormInfo.SubmissionData.DocumentReferences != null)
                            {
                                @foreach(var doc in Model.FormInfo.SubmissionData.DocumentReferences)
                                {
                                    <tr><td><a href="/ViewDocument/@doc.TemplateId/@doc.DocumentId" target="_blank">@doc.DocumentId</a></td></tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </section>
}
