@page
@model ECDSGrantsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SimpleFormsService.Web.Public.Forms.Shared
@using SimpleFormsService.Web.Public.Forms.EarlyChildhoodDevelopmentService;

@{
    ViewData["Title"] = StringResource.PageTitle;
}
@section featured
{
    <section class="row ns-fieldset stickyFooter" id="ecds">
        <div class="col-xs-12 col-md-9">
            <h1 class="mb-5">@StringResource.PageTitle</h1>
            <form method="post" asp-antiforgery="true">
                <div class="form-group">                   
                    <label asp-for="ECDSGrant.Recipient" class="nslabel">@Html.Raw(StringResource.Label_Consultant)</label>
                    <div class="help-block text-danger ns-error-message">
                        <i class="fa fa-exclamation-circle error-indicator errorAlert" aria-hidden="true"></i>
                        <span asp-validation-for="ECDSGrant.Recipient"></span>
                    </div>
                    <select asp-for="ECDSGrant.Recipient" asp-items="Model.Recipients()" class="dropdown fw-20">
                        <option value="">@StringResource.Dropdown_Default</option>
                    </select>                   
                </div>

                <div class="form-group">
                    <label asp-for="ECDSGrant.CentreEmail" class="nslabel"></label>

                    <div class="help-block text-danger ns-error-message">
                        <i class="fa fa-exclamation-circle error-indicator errorAlert" aria-hidden="true"></i>
                        <span asp-validation-for="ECDSGrant.CentreEmail"></span>
                    </div>
                    <input type="text" asp-for="ECDSGrant.CentreEmail" data-val="true" value="" class="ns-input fw-20" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label asp-for="ECDSGrant.CentreName" class="nslabel"></label>

                    <input asp-for="ECDSGrant.CentreName" class="ns-input fw-20" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label asp-for="ECDSGrant.CentreId" class="nslabel">@Html.Raw(StringResource.Label_CentreId)</label>

                    <input asp-for="ECDSGrant.CentreId" class="ns-input fw-20" autocomplete="off" />
                </div>



                <hr />
                <div class="form-group mb-0" id="sppUpload">
                    <h2>@Html.Raw(StringResource.ECDS_Submission)</h2>
                    <div class="help-block text-danger ns--message ns-error-message">
                        <i class="fa fa-exclamation-circle error-indicator errorAlert" aria-hidden="true"></i>
                    </div>
                    <label for="uploadDoc" class="btn-lg btn-default ns-upload" aria-describedby="fileDescription">
                        @SharedResource.Label_Upload
                        <input type="file" id="uploadDoc" class="ns-upload-button" asp-for="ECDSGrant.File" accept=".pdf,.jpeg,.jpg" />
                    </label>

                    <div id="fileDescription" class="nshinttext mt-0">
                        <p class="mt-0 mb-0">@Html.Raw(StringResource.AcceptedUploadType)</p>
                        <p>@Html.Raw(StringResource.MaxFileSize)</p>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-12">
                        <input type="submit" id="ecdsSubmit" class="btn-default btn-lg ml-5" value="@SharedResource.Btn_Submit" />
                    </div>
                </div>
            </form>
        </div>
    </section>
}
