@model SimpleFormsService.Web.Admin.Models.Admin.SubmissionDetailModel
@using SimpleFormsService.Web.Admin.Resources
@{
    ViewData["Title"] = @StringResource.Section_SubmissionDetail;
}

@section featured
{
    <section class="row ns-fieldset stickyFooter" id="viewDetails">
        <div class="col-lg-12">
            <form method="post" asp-antiforgery="true">
                <h2 class="m-b-md">@StringResource.Section_Submission</h2>
                <div class="row m-t-md">
                    <div class="col-lg-4 form-group">
                        @Html.LabelFor(model => model.TemplateID)
                        @Html.DisplayFor(model => model.SubmissionData.TemplateId)
                    </div>
                    <div class="col-lg-4 form-group">
                        @Html.LabelFor(model => model.SubmissionID)
                        @Html.DisplayFor(model => model.SubmissionData.Identifier.FriendlyName)
                    </div>
                    <div class="col-lg-4 form-group">
                        @Html.LabelFor(model => model.SubmissionDate)
                        @Html.DisplayFor(model => model.SubmissionData.DateSubmitted)
                    </div>                  
                </div>
                <hr />
                <h2 class="m-b-md">@StringResource.Section_SubmissionDetail</h2>
                <div class="row m-t-md">
                @if (Model.SubmissionData.FormItems != null)
                {
                    @foreach (var item in Model.SubmissionData.FormItems)
                    {   
                        <div class="col-lg-4 form-group mt-3">
                            @Html.Label(item.Name)
                            @Html.DisplayFor(model => @item.Value)           
                        </div>            
                    }
                }
                </div>              
                <hr />
                <h2 class="m-b-md">@StringResource.Section_Upload</h2>
                <div class="row m-t-md">
                    <div class="col-lg-4 form-group">
                        <table class="table table-responsive-sm table-borderless">
                            @if (Model.SubmissionData.DocumentReferences != null)
                            {
                                @foreach(var doc in Model.SubmissionData.DocumentReferences)
                                {
                                    <tr>
                                        <td><a href="@Url.Action("ViewDocument", "Admin", new { templateId = @doc.TemplateId, documentId = @doc.DocumentId })" target="_blank">@Html.DisplayFor(model => @doc.Filename)</a></td>
                                     </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </section>
}
