@using SimpleFormsService.Web.Public.Forms.Shared;

<footer id="footer" class="footer" role="contentinfo">
    <div class="container">
        <ul class="footer-statement-links">
            <li><a href="@SharedResource.Privacy_href" hreflang="en" id="privacy">@SharedResource.Link_Privacy</a></li>
            <li><a href="@SharedResource.Terms_href" hreflang="en" id="terms">@SharedResource.Link_Terms</a></li>
        </ul>
        <div aria-label="copyright" class="copyright">
            <small><a href="@SharedResource.CrownCopyRight_href" hreflang="en" id="copyright">@SharedResource.Link_CrownCopyRight</a></small>
        </div>
    </div>
</footer>