@using SimpleFormsService.Web.Admin.Resources

<footer id="footer" class="footer" role="contentinfo">
    <div class="container">
        <ul class="footer-statement-links">
            <li><a href="@StringResource.Privacy_href" hreflang="en">@StringResource.Link_Privacy</a></li>
            <li><a href="@StringResource.Terms_href" hreflang="en">@StringResource.Link_Terms</a></li>
        </ul>
        <div aria-label="copyright" class="copyright">
            <small><a href="@StringResource.CrownCopyRight_href" hreflang="en">@StringResource.Link_CrownCopyRight</a></small>
        </div>
    </div>
</footer>