@page
@model ConfirmationModel
@using SimpleFormsService.Web.Public.Forms.Shared
@using SimpleFormsService.Web.Public.Forms.Submission
@{
	ViewData["Title"] = StringResource.PageTitle;
	var saveFileOutput = StringResource.PageTitle + "<br />";
	saveFileOutput += string.Format(StringResource.SubmissionID, @Model.FormData.Identifier.FriendlyName) + "<br />";
	saveFileOutput += StringResource.SubmittedOn + " " + Model.FormData.DateSubmitted;

	//return url to be base on template id
	//KDA - this hardcoded lookup is to be replaced when generic form page is built
	var returnUrl = "~/";
	if(Model.FormData != null && Model.FormData.TemplateId == "a7b65d0f-5b87-4050-a5ef-ef79ef0ec753")
	{
		returnUrl = "~/SpecialPatientProgram/SPP";
	}
}

@section featured
{
	<section class="row ns-fieldset stickyFooter" id="confirmation">
		<div class="col-md-12 ns-panel mt-4" id="printArea">

			<div class="ns-panel__heading__container ns-heading__icon">
				<i class="fa fa-check-circle fa-3x ns-heading__icon-left faCheckColor" aria-hidden="true"></i>
				<h1 class="my-0 ns-panel__heading has-success">@Html.Raw(StringResource.PageTitle)</h1>
			</div>
			
			<div class="ns-panel__content">
				@if(Model.FormData != null) {
				<h2 class="ns-panel__content__heading">@Html.Raw(string.Format(StringResource.SubmissionID, @Model.FormData.Identifier.FriendlyName))</h2>
				<h3>@StringResource.SubmittedOn @Model.FormData.DateSubmitted</h3>
				<form class="d-print-none">
					<fieldset class="ns-fieldset">
					<legend class="ns-fieldset__legend noBorder">
					</legend>
					<div id="confirm-hint" class="ns-hint d-print-none">
						@Html.Raw(StringResource.Save_Print)
					</div>
					<section class="row align-items-center d-print-none" id="printSaveArea">
						<div class="col-auto">
							<a hidden id="savelink" 
							download="@Html.Raw("form_submission_confirmation_" + Model.FormData.Identifier.FriendlyName + ".html")" 
							href="data:application/xml;charset=utf-8,@saveFileOutput">test</a>
							<button aria-describedby="confirm-hint" class="btn-lg btn-default ns-btn__icon" id="printCopy" type="button"><i class="fa fa-print ns-btn__icon-left" aria-hidden="true"></i>@Html.Raw(StringResource.Btn_Print)</button>
						</div>
						<div class="col-auto">
							<button aria-describedby="confirm-hint" class="btn-lg btn-default ns-btn__icon" id="saveCopy" type="button"><i class="fa fa-save ns-btn__icon-left" aria-hidden="true"></i>@Html.Raw(StringResource.Btn_Save)</button>
						</div>
					</section>
					</fieldset>
				</form>
				}
				<div class="ns-fieldset d-print-none">
					<a href="@Url.Content(returnUrl)" class="ns-back-link pr-2 d-print-none" id="backToStart">@Html.Raw(StringResource.BackToStart)</a>
				</div>
			</div>
		</div>
	</section>		
}